@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* purgecss start ignore */
/* @tailwind base; */
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

:root {
  /* Default Dark Theme */
  --primary: hsla(292, 100%, 50%, 1);
  --textColor: white;
  --backgroundColor: #0d1219;
  --alternateBackgroundColor: #edf2f7;
  --blockquoteColor: rgba(255, 255, 255, 0.2);
  --icon: white;
}

html {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

body {
  color: var(--textColor);
  background-color: var(--backgroundColor);
  margin: 0;
  overflow-x: hidden;
}

body.light {
  /* Light Theme */
  --primary: hsla(292, 100%, 50%, 1);
  --textColor: black;
  --backgroundColor: #edf2f7;
  --alternateBackgroundColor: #0d1219;
  --blockquoteColor: rgba(0, 0, 0, 0.8);
  --icon: #0d1219;
}

a {
  color: inherit;
}

.layout {
  background-color: var(--backgroundColor);
}

code {
  font-size: 0.85rem;
}

@media (max-width: 767px) {
  pre {
    margin: 0 -1.5rem !important;
    border-radius: 0 !important;
  }
}

.post-container h1,
.post-container h2,
.post-container h3,
.post-container p {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.post-container hr {
  max-width: 128px;
  opacity: 0.75;
  margin: 48px auto;
}

.blog-title {
  color: var(--blogTitle);
}

.container {
  max-width: 95%;
  width: 980px;
}

.blog-title,
.date-and-duration {
  color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.bg-secondary {
  background-color: var(--backgroundColor);
}

.theme-switch {
  width: 44px;
  height: 22px;
  position: relative;
  display: inline-block;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 11px;
  border: 2px solid var(--alternateBackgroundColor);
  border: 2px solid;
}

.theme-switch .slider::before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  bottom: 50%;
  left: -2px;
  background-color: var(--backgroundColor);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  transform: translate(0, 50%);
  border: 2px solid var(--alternateBackgroundColor);
  z-index: 2;
}

.theme-switch input:checked + .slider::before {
  transform: translate(23px, 50%);
}

.toggle-image {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  transform: translateY(1px);
}

.toggle-image.dark {
  left: 0.2rem;
}

.toggle-image.light {
  right: 0.12rem;
}
